<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auction</title>
    <link rel="stylesheet" href="/style/auction.css">
</head>
<body>

<div th:if="${role.toString() == 'seller'}" th:insert="~{sellerAuction :: sellerAuction}"></div>
<div th:if="${role.toString() == 'buyer'}" th:insert="~{buyerAuction :: buyerAuction}"></div>


<script src="/script/auction.js"></script>
</body>
</html>
