<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <link rel="stylesheet" href="/style/authorization.css">
</head>
<body>

<div class="m_div">
    <p>Добро пожаловать на аукцион!</p>
    <p>Выберете, пожалуста, способ авторизации</p>
    <div>
        <button id="redirect_buyer" class="redirect_button">Для покупателя</button>
        <button id="redirect_seller" class="redirect_button">Для продавца</button>
    </div>
</div>

<script src="/script/authorization.js"></script>
</body>
</html>
