<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/style/register.css">
    <link rel="stylesheet" href="/style/auction.css">
</head>
<body>
<div class="m_div">
    <form id="buyer-register-form" th:action="@{/authorization/buyer/register}" enctype="multipart/form-data" method="post">

        <label for="fio">FIO:
            <input id="fio" type="text" name="fio">
        </label><br><br>
        <label for="phone_number">Phone number:
            <input id="phone_number" type="text" name="phoneNumber">
        </label><br><br>
        <label for="email">Email:
            <input id="email" type="text" name="email">
        </label><br><br>
        <label for="passportNumber">Passport number:
            <input id="passportNumber" type="text" name="passportNumber">
        </label><br><br>
        <label for="password">Password:
            <input id="password" type="password" name="password">
        </label><br><br>

        <br><br>
        <button class="register_button" type="submit">Register</button>
        <br><br>
    </form>

    <div th:if="${errors}">
        <p style="color:red" th:each="error:${errors}" th:text="${error.defaultMessage}">Error message</p>
    </div>
</div>
<script src="/script/buyerRegister.js"></script>
</body>
</html>