<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auction</title>
    <link rel="stylesheet" href="/style/order.css">
    <meta name="csrf-token" content="${_csrf.token}">
</head>
<body class="bg-gradient">
<div class="container">
    <!-- Информация об автомобиле -->
    <div class="card">
        <h1>Информация об автомобиле</h1>
        <ul>
            <li><strong>Mark name:</strong> <span  class="editable" th:text="${car.markAndModelName}"></span></li>
            <li><strong>Year:</strong> <span class="editable" th:text="${car.year}"></span></li>
            <li><strong>Car number:</strong> <span id="autoNumber" class="editable" th:text="${car.autoNumber}"></span></li>
            <li><strong>Km:</strong> <span class="editable" th:text="${car.km}"></span></li>
            <li><strong>Condition:</strong> <span class="editable" th:text="${car.carCondition}"></span></li>
            <li><strong>Start price:</strong> <span class="editable" th:text="${car.price}"></span></li>
        </ul>
    </div>

    <!-- Основной блок аукциона -->
    <div class="card">
        <h1>Аукцион автомобиля</h1>

        <div class="price">
            <h3><strong>Auction id:</strong> <span id="id" class="editable" th:text="${id}"></span></h3>
            <h3><strong>Date price:</strong> <span class="editable" th:text="${date}"></span></h3>
            <h3><strong>Time start:</strong> <span class="editable" th:text="${time}"></span></h3>
            <h2>Текущая цена: <span id="currentBid" th:text="${car.price}">50000.00</span> ₽</h2>
        </div>

        <form id="form-bid-put" class="input-group" th:if="${role == 'buyer'}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <label for="bidInput">Your bid:</label>
            <input type="number" id="bidInput" name="sum" placeholder="Input sum"/><br><br>
            <button type="submit">Put bid</button><br>
        </form>

        <form id="formPut" name="car" class="modal-form" th:action="@{/redirect/main}"  method="get">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <button type="submit" class="bid-button">Leave</button><br>
        </form>

        <div class="timer">
            <h3>Оставшееся время: <span id="timer">60 сек.</span></h3>
        </div>
    </div>

    <!-- Окно ставок -->
    <div class="card">
        <h1>Ставки участников</h1>
        <ul id="bidList">
            <li>Участник сделал ставку: 50000.00 ₽</li>
        </ul>
    </div>

    <script src="/script/order.js"></script>
</div>
</body>
</html>
