<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seller</title>
    <link rel="stylesheet" href="/style/sellerAuth.css">
</head>
<body>

<div class="brd">

    <form th:action="@{/login}" method="post">
        <label for="username"><span>Username:</span>
            <input type="text" name="username" id="username">
        </label><br/><br/>

        <label for="password"><span>Password:</span>
            <input type="password" name="password" id="password">
        </label><br/><br/>

        <button type="submit">Login</button> <br/><br/>

        <a href="users/sellerRegistration">
            <button type="button">Register</button>
        </a>
    </form>

</div>
<script src="/script/sellerAuth.js"></script>
</body>
</html>