<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/style/register.css">
    <link rel="stylesheet" href="/style/auction.css">
</head>
<body>
<div class="m_div">
    <form  th:action="@{/authorization/seller/register}" enctype="multipart/form-data" method="post" th:object="${seller}">

        <label for="fio">FIO:
            <input id="fio" type="text" name="fio">
        </label><br><br>
        <label for="phoneNumber">Phone number:
            <input id="phoneNumber" type="text" name="phoneNumber">
        </label><br><br>
        <label for="email">Email:
            <input id="email" type="text" name="email">
        </label><br><br>
        <label for="inn">INN:
            <input id="inn" type="text" name="inn">
        </label><br><br>
        <label for="password">Password:
            <input id="password" type="password" name="password">
        </label><br><br>

        <br><br>
        <button class="register_button" type="submit">Register</button>
        <br><br>
    </form>

<!--    <div th:if="${errors}">-->
<!--        <p style="collor:red" th:each="error:${errors}" th:text="${error.defaultMessage}">Error message</p>-->
<!--    </div>-->

</div>
<script src="/script/register.js"></script>
</body>
</html>