<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>auction</title>
</head>
<body>

<div th:fragment="sellerProfile">

    <header>
        <h1>Car Auctions</h1>
        <nav>
            <a href="/redirect/main">Auctions</a>
            <a href="/redirect/bids">My Bids</a>
            <form action="/redirect/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="redirect_button" type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <div id="profilePage">
        <h2>Profile</h2>
        <p><strong>FIO:</strong> <span th:text="${user.fio}">Fio</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">email</span></p>
        <p><strong>Phone number:</strong> <span th:text="${user.phoneNumber}">phone</span></p>
        <p><strong>INN:</strong> <span th:text="${user.inn}">inn</span></p>
    </div>

    <button id="delete-button-seller" class="redirect_button" type="submit">Delete profile</button>

    <div id="modalDell" class="modal">
        <form action="/redirect/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button class="redirect_button" type="submit">Confirm</button>
        </form>
    </div>

    <script src="/script/sellerProfile.js"></script>
</div>

<div th:fragment="sellerAuction">
    <header>
        <h1>Car Auctions</h1>
        <nav>
            <a href="/redirect/bids">My Bids</a>
            <a href="/redirect/profile">Profile</a>
            <form action="/redirect/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="redirect_button" type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <div id="content" class="container">
        <!-- Auction List Section -->
        <section id="auctions" class="auction-list">
            <h2>My cars</h2>
            <div class="div_button">
                <button id="add_cars" class="bid-button" type="submit">Add cars</button>
                <button id="edit_info" class="bid-button">Edit info</button>
                <button id="delete_car" class="redirect_button">Delete car</button>
                <button id="put_auction" class="bid-button">Put it up for auction</button>
            </div>

            <div id="modalAddCars" class="modal">
                <div class="modalAdd-content">
                    <span class="closeAdd">&times;</span>
                    <form id="modalFormAdd" name="car" class="modal-form"  method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <label for="MarkAndModelName">Mark and model name</label>
                        <input type="text" id="MarkAndModelName" name="MarkAndModelName" placeholder="Subaru Impreza" required>

                        <label for="autoNumber">Auto number</label>
                        <input type="text" id="autoNumber" name="autoNumber" placeholder="X777XX"  required>

                        <label for="year">Year</label>
                        <input type="text" id="year" name="year" placeholder="2001" required>

                        <label for="km">Km</label>
                        <input type="text" id="km" name="km" placeholder="150 000" required>

                        <label for="carCondition">Car condition</label>
                        <input type="text" id="carCondition" name="carCondition" placeholder="good" required>

                        <label for="price">Price</label>
                        <input type="text" id="price" name="price" placeholder="In rub" required>

                        <button  type="submit">Apply</button>
                    </form>
                </div>
            </div>
        </section>

        <div id="modalDellCars" class="modal" style="display: none">
            <div class="modalAdd-content">
                <span class="closeDell">&times;</span>
                <form id="formDellCar" name="car" class="modal-form"  method="post">

                    <label for="autoNumberDell">Input auto number for dell</label>
                    <input type="text" id="autoNumberDell" name="autoNumber" placeholder="X777XX" required>

                    <button  type="submit">Delete</button>
                </form>
            </div>
        </div>

        <div id="modalEditCars" class="modal" style="display: none">
            <div class="modalAdd-content">
                <span class="closeEdit">&times;</span>
                <form id="formEdit" name="car" class="modal-form" method="post">

                    <label for="autoNumberEdit">Input auto number for edit</label>
                    <input type="text" id="autoNumberEdit" name="autoNumber" placeholder="X777XX" required>

                    <label for="km">Km</label>
                    <input type="text" id="kmEdit" name="km" placeholder="150 000" required>

                    <label for="carCondition">Car condition</label>
                    <input type="text" id="carConditionEdit" name="carCondition" placeholder="good" required>

                    <label for="price">Price</label>
                    <input type="text" id="priceEdit" name="price" placeholder="In rub" required>
                    <button id="confirm_button" type="submit">Confirm</button>
                </form>
            </div>
        </div>


        <div id="modalPutCars" class="modal" style="display: none">
            <div class="modalAdd-content">
                <span class="closePut">&times;</span>
                <form id="formPut" name="car" class="modal-form" th:action="@{/redirect/put}"  method="get">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                    <label for="autoNumberEdit">Input auto number for put in auction</label>
                    <input type="text" id="autoNumberPut" name="autoNumber" placeholder="X777XX" required>

                    <button id="put_button" type="submit">Start auction</button>
                </form>
            </div>
        </div>

        <div id="cars" class="cars-div">
        </div>
    </div>
    <script src="/script/sellerAuction.js"></script>
</div>

</body>
</html>