<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>auction</title>
</head>
<body>

<div th:fragment="sellerProfile">

    <header>
        <h1>Car Auctions</h1>
        <nav>
            <a href="/redirect/main">Auctions</a>
            <a href="/redirect/bids">My Bids</a>
            <form action="/redirect/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="redirect_button" type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <div id="profilePage">
        <h2>Profile</h2>
        <p><strong>FIO:</strong> <span th:text="${user.fio}">Fio</span></p>
        <p><strong>Email:</strong> <span th:text="${user.email}">email</span></p>
        <p><strong>Phone number:</strong> <span th:text="${user.phoneNumber}">phone</span></p>
        <p><strong>INN:</strong> <span th:text="${user.inn}">inn</span></p>
    </div>

    <button id="delete-button-seller" class="redirect_button" type="submit">Delete profile</button>

    <div id="modalDell" class="modal">
        <form action="/redirect/logout" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <button class="redirect_button" type="submit">Confirm</button>
        </form>
    </div>

    <script src="/script/sellerProfile.js"></script>
</div>

<div th:fragment="sellerAuction">
    <header>
        <h1>Car Auctions</h1>
        <nav>
            <a href="/redirect/bids">My Bids</a>
            <a href="/redirect/profile">Profile</a>
            <form action="/redirect/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="redirect_button" type="submit">Logout</button>
            </form>
        </nav>
    </header>

    <div id="content" class="container">
        <!-- Auction List Section -->
        <section id="auctions" class="auction-list">
            <h2>My cars</h2>
            <button id="add_cars" class="redirect_button" type="submit">Add cars</button>

            <div id="modalAddCars" class="modal">
                <div class="modalAdd-content">
                    <span class="closeAdd">&times;</span>
                    <form id="modalFormAdd" name="car" class="modal-form" th:action="@{/api/action/add}" method="post">
                        <label for="MarkAndModelName">Mark and model name</label>
                        <input type="text" id="MarkAndModelName" name="MarkAndModelName" placeholder="Subaru Impreza" required>

                        <label for="autoNumber">Auto number</label>
                        <input type="text" id="autoNumber" name="autoNumber" placeholder="X777XX"  required>

                        <label for="year">Year</label>
                        <input type="text" id="year" name="year" placeholder="2001" required>

                        <label for="km">Km</label>
                        <input type="text" id="km" name="km" placeholder="150 000" required>

                        <label for="carCondition">Car condition</label>
                        <input type="text" id="carCondition" name="carCondition" placeholder="good" required>

                        <label for="price">Price</label>
                        <input type="text" id="price" name="price" placeholder="In rub" required>

                        <button  type="submit">Подтвердить</button>
                    </form>
                </div>
            </div>
        </section>

        <div id="cars">
        </div>
    </div>
    <script src="/script/sellerAuction.js"></script>
</div>

</body>
</html>